html {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

@media print {
  @page {
    /* size: portrait; */
    size: landscape;
  }
}

.generic {
  height: 100%;
}

.App {
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.screen {
  height: 100%;
  width: 100%;
  text-align: center;
}

.css-ak1ss8 {
  min-height: 40px;
}

button {
  background-color: #004990;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  border-radius: 15px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.class-dropdown {
  text-align: left;
  border-radius: 10px;
  padding: 5px;
  border-color: black;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  /* background-color: #004990; */
}

.drag-drop {
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 58% 25% 10%;
  column-gap: 10px;
}

.schedule {
  height: 100%;
  width: 100%;
  column-gap: 1px;
  row-gap: 1px;
}

.semester:not(:last-child) {
  border-right: 1px lightgray solid;
}

.semester:not(:first-child) {
  border-left: 1px lightgray solid;
}

.page {
  height: 100%;
}

.info-box-completed-course {
  font-size: 15px;
  text-align: center;
  border: 2px solid #004990;
  border-radius: 5px;
  padding: 0.5em;
  margin: 5px;
  color: black;
}

/* Text inside the course dropdown menu*/
.courseDropdowns {
  text-align: center;
  width: 100%;
  float: center;
}

.RequirementText {
  width: 100%;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 80% 20%;
  text-align: center;
  font-size: 11pt;
  padding-left: 0;
  vertical-align: center;
}
.percentage {
  text-align: right;
  justify-content: right;
  display: flex;
  align-items: center;
}

.requirementName {
  text-align: left;
  display: flex;
  align-items: center;
  padding-top: 1px;
  vertical-align: center;
}
